<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHx8);">
  <div class="container text-center text-white">
    <h1>Save any kind of movies</h1>
    <p>Create your own lists</p>
  </div>
</div>


<div class="container bg-light mt-3 pb-4 mb-4 px-4 rounded border shadow-sm">
  <div class="d-flex justify-content-between align-items-center m-3">
    <h3 class="mt-2">My Lists:</h3>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add new List</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add new list</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with model: @list, url: lists_path, local: true do |f| %>
              <div class="mb-3">
                <%= f.label :name, 'List name:', class: 'col-form-label' %>
                <%= f.text_field :name, class: 'form-control', id: 'recipient-name' %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit 'Create List', class: 'btn btn-primary' %>
          </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-grid gap-3" style="grid-template-columns: repeat(auto-fill, minmax(175px, 1fr)); grid-auto-rows: auto;">
    <% @lists.each do |list| %>
      <div class="cards">
        <a href="lists/<%= list.id %>" class="list-group-item list-group-item-action" aria-current="true">
          <div class="card-category text-center p-4" style="
            background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/fotos-premium/fliegende-popcorn-3d-brille-filmrolle-und-schindeln-auf-gelbem-hintergrund-kinofilmkonzept-3d_989822-1302.jpg?semt=ais_incoming&w=740&q=80);
            background-size: cover;
            background-position: center;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            ">
            <strong class="text-light"><%= list.name %></strong>
          </div>
        </a>
      </div>
    <% end %>
  </div>

</div>
