<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1007557230/photo/movie-projector-on-dark-background.jpg?s=612x612&w=0&k=20&c=bPgXKrqKU4nrWgJ_RXgLe9KN4SIitgTIcRobxxBiXTo=);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
    <%= link_to "Back to my lists", lists_path, class: "btn btn-secondary btn-sm mt-3" %>
  </div>
</div>

<div class="d-flex justify-content-end mt-4 mx-4">
  <%= link_to "Add a new movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>

<div class="container mt-2">
  <% @list.movies.each do |movie| %>
    <div class="movie-card shadow-sm mb-4">
      <div class="movie-card-img">
        <img src="<%= movie.poster_url %>" alt="Movie Poster">
      </div>

      <div class="movie-card-body p-4">
        <h5 class="fw-bold mb-1">
          <%= movie.title %>
          <span class="text-muted">•</span>
          <span class="rating"><%= movie.rating %> ★</span>
        </h5>

        <p class="text-muted mb-3">
          <%= movie.overview %>
        </p>

        <div class="d-flex justify-content-between align-items-center">
          <a href="#" class="text-danger small delete-link">delete</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
