<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/fotos-premium/fliegende-popcorn-3d-brille-filmrolle-und-schindeln-auf-gelbem-hintergrund-kinofilmkonzept-3d_989822-1302.jpg?semt=ais_incoming&w=740&q=80);">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
    <%= link_to "Back to my lists", lists_path, class: "btn btn-secondary btn-sm mt-3" %>
  </div>
</div>

<div class="d-flex justify-content-end mt-4 mx-4">
  <%= link_to "Add a new movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>

<div class="d-flex container-fluid mt-2 flex-wrap gap-5 justify-content-center">
  <% @list.movies.each do |movie| %>
    <div class="movie-card shadow-sm mb-4 col-12 col-md-6 col-lg-4">
      <div class="movie-card-img">
        <img src="<%= movie.poster_url %>" alt="Movie Poster">
      </div>

      <div class="movie-card-body p-4">
        <h5 class="fw-bold mb-1">
          <%= movie.title %>
          <span class="text-muted">•</span>
          <span class="rating"><%= movie.rating %> ★</span>
        </h5>

        <p class="text-muted mb-3">
          <%= movie.overview %>
        </p>

        <div class="d-flex justify-content-between align-items-center">
          <%# add the comment when creating a new bookmark %>
          <p class="mb-0"><strong>Comment:</strong> "<%= movie.bookmarks.find_by(list: @list).comment %>"</p>
          <% bookmark = movie.bookmarks.find_by(list: @list) %>
          <% if bookmark %>
            <%= button_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link text-danger small p-0' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
